#initiate-form, .title{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

input[type=text], select {
  width: 100%;
  padding: 10px;
  font-size:2em;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label{
  font-size: 2em;
  color: #4078a5 
}

.title{
  font-size: 3em;
  color: rgba(0, 0, 0, 0.753)
}

div.form-input{
  align-self: center;
  text-align: center;
}

section > .direction{
  color:rgba(0, 0, 0, 0.753);
  font-size: 1em;
  margin-left: 400px;
  margin-right: 400px;
  padding: 24px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: white;
}

.direction > p {
  text-align: center;
}