#new-user-form{
  padding-top: 25px;
}

.landingpage {
  height: 100vh;
  align-items: center;
}

.intro-message {
 color:rgba(0, 0, 0, 0.753);
 font-size: 3em;
 font-weight: 1000;
 text-align: center;
}

.new-user-form {
  text-align: center;
}

.new-user-form p{
  color:rgba(0, 0, 0, 0.753);
  font-size: 2em;
  margin-left: 115px;
  margin-right: 115px;
}

p.attention-stmt{
  padding: 24px;
  font-weight: 700;
}

.button-holder{
  text-align: center;
}

.form-submit{
  align-self: center;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 60%;
  font-size: 1em;
  font-weight: 600;
  border: 5px solid rgba(255, 166, 0, 0.87) ;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.753)
  }
  
  
  .form-submit:hover {
    background-color: #4078a5;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
  }