.sidebar {
  min-width: 200px;
  position: flex;
  align-items: center;
  background-color: #4682B4;
}

.application-name{
  padding: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 4.5em;
  color: rgba(0, 0, 0, 0.753);
}

.sidebar-left {
  margin-right: 10px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list-item {
  padding: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;

}

.link{
  text-decoration: none;
  color: white;
}

.menu-list-item:hover {
  background-color: #4078a5 
}
